

<div *ngIf="(router.path()).toString() != ''" class="d-flex" id="wrapper" [ngbCollapse]="isCollapsed" [ngClass]="{'toggled': isCollapsed === false}" >

    <!-- Sidebar -->
    <app-sidenav></app-sidenav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
    	 
    	<app-nav (collapsedEvent)="receiveMessage($event)"></app-nav>
		<router-outlet></router-outlet>
		
    </div>
    <!-- /#page-content-wrapper -->

  </div>


<div *ngIf="(router.path()).toString() == ''">
  <router-outlet></router-outlet>
</div>