/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";



#wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  /* padding: 0.875rem 1.25rem; */
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
.sidebar-heading {
  /* background-color: #3f51b5;
  color: white; */
  font-weight: 700;
  
}
.navbar{
  background-color: #3f51b5 !important;
}
#sidebar-wrapper a.active {
    background-color: #3f51b5 !important;
    border-radius: 0px 36px 36px 0px;
  }
#page-content-wrapper {
  min-width: 100vw;
  /* padding: 15px; */
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
div#middle_div {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}